* {
    margin: 0;
    padding: 0;
}
html,body{
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #853636;
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
}
.board{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    width: 500px;
    height: 500px;
}
.board-square, .square, .piece-wrapper, .piece-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62.5px;
    height: 62.5px;
}
.piece-img{
    cursor: grab;
    transform: translate(0, 0);
}
.white{
    background-color: #ffffff;
}
.black{
    background-color: #ff3131;
}
.top-bar{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.result{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: antiquewhite;
    margin-bottom: 10px;
}
.btn{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 15px 0;
    font-size: 20px;
    color: #5d5d5d;
    cursor: pointer;
}